*{
  margin: 0;
  padding: 0;
}
body{
    background-color:rgba(255, 255, 255, 0.658);
}
#home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.274)), url(img/back1.jpg); 
    background-size: cover;
    background-position: center;
    animation: changebackground;
    animation-duration: 15s;
    animation-iteration-count: infinite ;
}
/*
#home #span{
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    text-align: center;
}
#home #span img{
    width: 20px;
    height: 20px;
    
}*/

/**/
#travely{
    transition: 3s ease;
    font-family: cursive;    
    float: left;
    font-size: 20px;
    margin: 30px;
}
#travely h1{
    padding: 1px;
    color: rgb(150, 144, 144);
    border: 5px solid rgb(150, 144, 144);
    border-bottom: thick;
    border-radius: 50%;
}
/*##################################################################"*/
#MENU ul{
     list-style-type: none;
     float: right;
    }
#MENU ul li  {
    display:inline-block;
}
#MENU  a{
    margin-top: 40px;
    margin-right: 20px;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin-left: 30px;
    float: right;
    font-size: 20px;
    transition: 0.6s ease;
    border: 1px solid #fff;
    padding: 5px 20px;
    color: white;
}
#MENU ul li a:hover {
    background-color: lavender;
     color: black;

}
/*##################################################################"*/
#Center{
    background-color: none;
    clear: both;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: whitesmoke;
}
#Center h1{
    font-size: 50px;
    color: #e4977abf;
    font-family: system-ui;
}
#Center p{
    font-size: 15px;
    color: #c19a8b;
    font-family: Georgia, serif;;
}
/*##################################################################"*/
@keyframes changebackground{
    0%{
        background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.274)), url(img/back1.jpg);
    }
     50%{
        background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.274)), url(img/back2.jpg);
    }

100%{
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.274)), url(img/back3.jpg);

}
}
/*##################################################################"*/
/*##################################################################"*/

.CONTENT{
    overflow: hidden;
    margin-bottom: 4%;
}

.INFO h2{
    padding-top: 4%;
    text-align: center;
    color: #232323;
    clear: both;
}
.INFO p{
    overflow: hidden;
    text-align: center;
    font-family: 'BariolRegular';
    line-height: 2em;
    letter-spacing: .03em;
    font-size: 16px;
    
}
/*##################################################################"*/
/*##################################################################"*/
.beach{
    padding-top: 4%;
    padding-bottom:4% ;

}
.beach .pargh {
    padding-left: 10%;
    padding-right:5% ;
     float: left;
}
.beach .pargh h2{
    padding: 0px 20px 5px 0px;
    color: #232323;
    font-size: 36px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.beach .pargh p{
    width: 500px;
    color: #333;
    margin-bottom: 0;
    margin-top: 25px;
    padding-left: 10px;
    line-height: 1.428em;
}
/*##################################################################"*/
/*##################################################################"*/

.RESORT{
    padding-top: 4%;
    padding-bottom:4% ;
}
.RESORT .pargh1 {
     float: right;
     padding-right:5% ;
}
.RESORT .pargh1 h2{
    color: #232323;
    font-size: 36px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.RESORT .pargh1 p{
    width: 560px;
    color: #333;
    margin-bottom: 0;
    margin-top: 25px;
    padding-left: 10px;
    line-height: 1.428em;
}
.RESORT .image1{
    padding-left: 10%;
    
}

/*##################################################################"*/
/*##################################################################"*/

.DESIGN{
    padding-top: 4%;
    padding-bottom:4% ;

}
.DESIGN .pargh2 {
    padding-left: 10%;
    padding-right:5% ;
     float: left;
}
.DESIGN .pargh2 h2{
    padding: 0px 20px 5px 0px;
    color: #232323;
    font-size: 36px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}
.DESIGN .pargh2 p{
    width: 500px;
    color: #333;
    margin-bottom: 0;
    margin-top: 25px;
    padding-left: 10px;
    line-height: 1.428em;
}

/*##################################################################"*/
/*##################################################################"*/


.final{
    background-color: #222;
    margin-bottom: 2px;
}

.title{
    color: white;
    font-size: 20px;
    padding-top: 30px  ;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}
.title h2{
    padding-bottom: 20px;

}
.title p{
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: cursive;;
}
.final .icon ul{
    list-style-type: none;
    text-align: center;
}
.final .icon ul li  {
   display:inline-block;
}
.final .icon ul li  a{
   text-align: center;
}
.final .icon ul li a img{
    margin: 20px;
 }



 .end{
     background-color: black;
     margin-bottom: 3px;
 }

.end-body{
    color: blanchedalmond;
}
.end-body  ul{
    list-style-type: none;
    text-align: center;
}
.end-body  ul li  {
    display:inline-block;
 }

 .end-body  a{
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    float: right;
    font-size: 20px;
    transition: 0.6s ease;
    padding: 5px 20px;
    color: white;
}